body
	background-color #eee
	color #374655
	padding 0px
	font 14px "Meiryo UI", "Lucida Grande", Helvetica, Arial, sans-serif
	text-align center
	margin-left auto
	margin-right auto

.navbar-inverse
	background-color #4e5d6c
	border 0px
.navbar-inverse .navbar-brand
	color #FFF

hr
	border-top 1px solid #8E979F